<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title>YelpCamp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="robots" content="index,follow" />
  <meta name="author" content="Eric Butler" />
  <meta name="description" content="YelpCamp is a tutorial app built in Colt Steele's Web Developer Bootcamp course on Udemy.com" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">YelpCamp</a>
      </div>

      <div class="collapse navbar-collapse" id="primary-nav">
        <ul class="nav navbar-nav">
          <li><a href="/campgrounds">Campgrounds</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
<% if (!user) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Join</a></li>
<% } else { %>
          <li><a>Signed in as <%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %></a></li>
          <li><a href="/logout">Logout</a></li>
<% } // end else %>
        </ul>
      </div>

    </div>
  </nav>

  <div class="container">

<%
if (flash_message) {
  for (var i in flash_message) {
%>
    <div class="alert alert-<%= i %>" role="alert">
      <%= flash_message[i] %>
    </div>
<%
  } // end for
} // end if
%>
