<% include partials/top %>

<h1 class="page-header"><%= campground.name %></h1>

<div>
  <img src="<%= campground.image %>" alt="<%= campground.name %>">
</div>

<a class="btn btn-link" href="/campgrounds">&laquo; All campgrounds</a>

<% include partials/bottom %>
