<% include partials/top %>

<div class="homepage">

  <div class="home-hero">
    <h1>This is YelpCamp</h1>
    <p><a class="btn btn-lg btn-primary" href="/campgrounds">View campgrounds</a></p>
  </div>

</div>

<% include partials/bottom %>
