/*=====================================
 * BOOTSTRAP FIXUPS
 */

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
  margin-top: 0;
}

/*=====================================
 * TOPBAR
 */

.flash-message {
  background: #ffdc5a; /* soft yellow */
  padding: 10px;
  color: black;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

/*=====================================
 * CAMPGROUNDS
 */

@media (min-width: 768px) {
  .campgrounds {
    display: flex;
    flex-wrap: wrap;
  }
  .new-campground-form h4 {
    margin-bottom: 15px;
  }
  .new-campground-form .btn {
    margin-top: 25px;
  }
}

.campground-detail img {
  width: 100%;
}
.campground-detail h1 {
  margin-top: 0;
}
.campground-price {
  font-size: 18px;
}

/*=====================================
 * COMMENTS
 */

.comment {
  padding: 1em 1em 0;
  border-bottom: 1px solid #fff;
}
.comment:nth-last-of-type(1) {
  border-bottom: 0;
}

